@mixin font-format(
  $font: 'Arial',
  $size: 12px,
  $color: #000000,
  $spacing: 0,
  $line-height: normal,
  $weight: normal,
  $transform: none,
  $margin: 0
) {
  font-family: $font;
  font-size: $size;
  color: $color;
  letter-spacing: $spacing;
  line-height: $line-height;
  font-weight: $weight;
  text-transform: $transform;
  margin: $margin;
}
